.sidebar {
    /* width: 220px;                 */
    /* background-color: #388E3C;   */
    background: linear-gradient(135deg, #45a84a, #038103);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.496), 
                -8px -8px 15px rgba(255, 255, 255, 0.015);
    padding: 20px;             
    border-right: 1px solid #01def6; 
    position: fixed;            
    /* height: 100%;      */
    /* margin-top: 46px;  */
    margin-left: 6px;         
  }
  
  .sidebar h2 {
    color: #333;               
  }
  
  .sidebar ul {
    list-style-type: none;     
    padding: 0; 
    margin-top: 48px;
  }
  
  .sidebar li {
    margin: 50px 0;  
    padding: 20px;         
    cursor: pointer;            
    /* transition: all ease 0.3s;  */
    font-size: x-large;
    border-radius: 20px;
    font-weight: 600;
    
  }
  
  .sidebar li:hover {
    background-color: #ddd;
    border-radius: 20px; 
    color: black;  
  }
  
  .content {
    margin-left: 240px;       
    padding: 20px;          
  }

  .active {
    background-color: white;
    color: black;
    
  }


  @media (max-width: 768px) {
    .sidebar {
        width: 100%;  /* Full width on small screens */
        position: relative;  /* Change to relative for stacking */
        margin-top: 0;  /* Remove top margin */
    }
    
    .content {
        margin-left: 0;  /* Remove left margin for content */
    }
}